### Adams-Bashforth Three-Step Method

This code implements the Adams-Bashforth Four-Step Method to approximate ordinary differential equations of the form $ y'(t) = f(t,y)$ at equally-spaced mesh points between $a$ and $b$ with a step size of $h$. Note that the variable `f` below represents $f(t,y)$.

The algorithm is defined recursively by
\begin{align*}
w_0 &= \alpha, w_1 = \alpha_1, w_2 = \alpha_2 \\
w_{i+1} &= w_i + \frac{h}{12} \left[ 23f(t_i, w_i) - 16f(t_{i-1}, w_{i-1}) + 5f(t_{i-2}, w_{i-2})\right]
\end{align*}
for $i = 2, 3, \ldots, N-1$. In an initial value problem of the candidate form, we are given the initial condition $y(a) = \alpha$. To determine $\alpha_1$ and $\alpha_2$ for this multistep method, we implement the Runge-Kutta Method of order 4 for $i = 0, 1$. This notebook provides the solution to the second part of 5.6.3(a) in *Numerical Analysis* (10th Edition) by Burden and Faires.

In [1]:
# Imports
import numpy as np
import pandas as pd
import math

# For more decimal places
pd.set_option("display.precision", 7)

Specify your arguments below.

In [2]:
# Function
f = lambda t, y: y/t - (y/t)**2
# Left endpoint
a = 1
# Right endpoint
b = 2
# Step size
h = 0.1
# First initial condition
alpha = 1

N = int((b-a/h))
t = np.arange(a, b+h, h)
w = np.zeros(len(t))
w[0] = alpha

# For order 4 Runge-Kutta approximations
rk = np.zeros(3)
rk[0] = alpha

In [3]:
# Runge-Kutta order 4 approximations for alpha1 and alpha2
for i in range(0, 2):
  k1 = h*f(t[i], rk[i])
  k2 = h*f(t[i] + h/2, rk[i] + 1/2*k1)
  k3 = h*f(t[i] + h/2, rk[i] + 1/2*k2)
  k4 = h*f(t[i+1], rk[i] + k3)
  rk[i+1] = rk[i] + 1/6*(k1 + 2*k2 + 2*k3 + k4)

w[0] = alpha
w[1] = rk[1]
w[2] = rk[2]

In [4]:
# Adam-Bashforth 4-step approximations
for i in range(2, len(t) - 1):
  w[i+1] = w[i] + h/12*(23*f(t[i], w[i]) - 16*f(t[i-1], w[i-1]) + 5*f(t[i-2], w[i-2]))

In [5]:
# Output
df = pd.DataFrame({('tᵢ'): t, 'wᵢ': w})
df

     tᵢ         wᵢ
0   1.0  1.0000000
1   1.1  1.0042815
2   1.2  1.0149520
3   1.3  1.0293579
4   1.4  1.0468730
5   1.5  1.0664788
6   1.6  1.0875837
7   1.7  1.1097691
8   1.8  1.1327465
9   1.9  1.1563092
10  2.0  1.1803057

### Exact Solution and Actual Error

If we know the solution $y(t)$ to the initial value problem--whether it is given to us or we calculate it analytically--the exact values and actual (absolute) error of the Modified Euler approximations can be calculated. Below, `y` represents the solution to the IVP.

In [6]:
# Exact solution
y = lambda t: t/(1+np.log(t))
yt = np.zeros(len(t))

In [7]:
# Looping to determine actual values
for i in range(0, len(t)):
  yt[i] = y(t[i])

In [10]:
# Output
df2 = pd.DataFrame({('tᵢ'): t, 'wᵢ': w, 'y(tᵢ)': yt, '|y(tᵢ) - wᵢ|': abs(yt - w)})
df2

     tᵢ         wᵢ      y(tᵢ)  |y(tᵢ) - wᵢ|
0   1.0  1.0000000  1.0000000     0.0000000
1   1.1  1.0042815  1.0042817     0.0000002
2   1.2  1.0149520  1.0149523     0.0000003
3   1.3  1.0293579  1.0298137     0.0004558
4   1.4  1.0468730  1.0475339     0.0006609
5   1.5  1.0664788  1.0672624     0.0007836
6   1.6  1.0875837  1.0884327     0.0008490
7   1.7  1.1097691  1.1106551     0.0008859
8   1.8  1.1327465  1.1336536     0.0009070
9   1.9  1.1563092  1.1572284     0.0009193
10  2.0  1.1803057  1.1812322     0.0009265