### Euler's Method

This code implements Euler's Method to approximate ordinary differential equations of the form $ y'(t) = f(t,y)$ at equally-spaced mesh points between $t_0$ and $t_1$ with a step size of $h$. Note that the variable `f` below represents $f(t,y)$.

We specify an initial condition $y(t_0) = w_0$. As an example, this instance of the code solves Exercise 5.2.9(a) in *Numerical Analysis* (10th Edition) by Burden and Faires.

In [1]:
import numpy as np
import pandas as pd
import math

# For more decimal places
pd.set_option("display.precision", 7)

Specify your desired arguments below.

In [2]:
# Function
f = lambda t, y: (2/t)*y + t**2*math.exp(1)**t
# Left endpoint
t_0 = 1
# Right endpoint
t_1 = 2
# Step size
h = 0.1
# Initial condition
w0 = 0

N = int((t_1-t_0)/h)
t = np.arange(t_0, t_1+h, h)
w = np.zeros(len(t))
w[0] = w0

In [3]:
for i in range(0, len(t) - 1):
  w[i+1] = round(w[i] + h*f(t[i], w[i]), 5)

In [4]:
df = pd.DataFrame({('tᵢ'): t, 'wᵢ': w})
df

     tᵢ        wᵢ
0   1.0   0.00000
1   1.1   0.27183
2   1.2   0.68476
3   1.3   1.27698
4   1.4   2.09355
5   1.5   3.18745
6   1.6   4.62082
7   1.7   6.46640
8   1.8   8.80912
9   1.9  11.74800
10  2.0  15.39824

### Exact Solution and Actual Error

If we know the solution $y(t)$ to the initial value problem--whether it is given to us or we calculate it analytically--the exact values and actual (absolute) error of the Euler approximations can be calculated. Below, `y` represents the solution to the IVP.

In [5]:
y = lambda t: t**2*(math.exp(1)**t - math.exp(1))
yt = np.zeros(len(t))

In [6]:
for i in range(0, len(t)):
  yt[i] = y(t[i])

In [7]:
df2 = pd.DataFrame({('tᵢ'): t, 'wᵢ': w,
                    'y(tᵢ)': yt, '|y(tᵢ) - wᵢ|': abs(w-yt)})
df2

     tᵢ        wᵢ       y(tᵢ)  |y(tᵢ) - wᵢ|
0   1.0   0.00000   0.0000000     0.0000000
1   1.1   0.27183   0.3459199     0.0740899
2   1.2   0.68476   0.8666425     0.1818825
3   1.3   1.27698   1.6072151     0.3302351
4   1.4   2.09355   2.6203596     0.5268096
5   1.5   3.18745   3.9676663     0.7802163
6   1.6   4.62082   5.7209615     1.1001415
7   1.7   6.46640   7.9638735     1.4974735
8   1.8   8.80912  10.7936247     1.9845047
9   1.9  11.74800  14.3230815     2.5750815
10  2.0  15.39824  18.6830971     3.2848571