### Euler's Method

This code implements Euler's Method to approximate ordinary differential equations of the form $ y'(t) = f(t,y)$ at equally-spaced mesh points between $t_0$ and $t_1$ with a step size of $h$. Note that the variable `f` below represents $f(t,y)$.

We specify an initial condition $y(t_0) = w_0$.

In [1]:
import numpy as np
import pandas as pd
import math

Specify your desired arguments below.

In [10]:
# Function
f = lambda t, y: (2/t)*y + t**2*(math.exp(1)**t)
# Left endpoint
t_0 = 1
# Right endpoint
t_1 = 2
# Step size
h = 0.1
# Initial condition
w0 = 0

N = int((t_1-t_0)/h)
t = np.arange(t_0, t_1+h, h)
w = np.zeros(len(t))
w[0] = w0

In [11]:
for i in range(0, len(t) - 1):
  w[i+1] = round(w[i] + h*f(t[i], w[i]), 5)

In [12]:
df = pd.DataFrame({('tᵢ'): t, 'wᵢ': w})
df

     tᵢ        wᵢ
0   1.0   0.00000
1   1.1   0.27183
2   1.2   0.68476
3   1.3   1.27698
4   1.4   2.09355
5   1.5   3.18745
6   1.6   4.62082
7   1.7   6.46640
8   1.8   8.80912
9   1.9  11.74800
10  2.0  15.39824

### Exact Solution and Actual Error

If we know the solution $y(t)$ to the initial value problem--whether it is given to us or we calculate it analytically--the exact values and actual (absolute) error of the Euler approximations can be calculated. Below, `y` represents the solution to the IVP.

In [18]:
y = lambda t: t**2 * (math.exp(1)**t - math.exp(1))
yt = np.zeros(len(t))

In [27]:
for i in range(0, len(t)):
  yt[i] = round(y(t[i]), 5)

In [30]:
df2 = pd.DataFrame({('tᵢ'): t, 'wᵢ': w,
                    'y(tᵢ)': yt, '|y(tᵢ) - wᵢ|': abs(w-yt)})
df2

     tᵢ        wᵢ     y(tᵢ)  |y(tᵢ) - wᵢ|
0   1.0   0.00000   0.00000       0.00000
1   1.1   0.27183   0.34592       0.07409
2   1.2   0.68476   0.86664       0.18188
3   1.3   1.27698   1.60722       0.33024
4   1.4   2.09355   2.62036       0.52681
5   1.5   3.18745   3.96767       0.78022
6   1.6   4.62082   5.72096       1.10014
7   1.7   6.46640   7.96387       1.49747
8   1.8   8.80912  10.79362       1.98450
9   1.9  11.74800  14.32308       2.57508
10  2.0  15.39824  18.68310       3.28486