### Fixed Point Iteration

This code implements fixed point iteration to find the point $\mathbf{p}$ of a function $\mathbf{G}$ such that
$$
\mathbf{G}(\mathbf{p}) = \mathbf{p}.
$$
As inputs we have the rows $g_i(x_1, \ldots, x_n)$ of $\mathbf{G}$ for $i = 1, \ldots, n$ and a tolerance `TOL`. This notebook provides the solution to 10.1.5(a) in *Numerical Analysis* (10th Edition) by Burden and Faires.

In [1]:
# Imports
import numpy as np
from numpy.linalg import norm
import pandas as pd
import math

# Suppressing scientific notation in output
pd.set_option('display.float_format', '{:.7f}'.format)

In [2]:
# Component functions
g1 = lambda x1, x2, x3: 1/3*(np.cos(x2*x3) + 0.5)
g2 = lambda x1, x2, x3: 1/25*math.sqrt(x1**2 + 0.3125) - 0.03
g3 = lambda x1, x2, x3: -1/20*math.exp(-x1*x2) - (10*math.pi - 3)/60

# Tolerance
TOL = 10**(-5)

# Initial guess
x = np.matrix([[1], [1], [1]])

In [3]:
# Arrays for approximations for each iteration
x1k = np.array(x[0,0])
x2k = np.array(x[1,0])
x3k = np.array(x[2,0])

In [4]:
# Defining vector-valued function
def G(x1, x2, x3):
  return np.matrix([[g1(x1,x2,x3)], [g2(x1,x2,x3)], [g3(x1,x2,x3)]])

In [5]:
# Starting iteration
k = 1

while True:
  
  y = G(x[0,0], x[1,0], x[2,0])
  
  if norm(y-x, ord=np.inf) < TOL:

    # Appending approximations to array for output
    x1k = np.append(x1k, x[0,0])
    x2k = np.append(x2k, x[1,0])
    x3k = np.append(x3k, x[2,0])

    print(f'Fixed point iteration converged to within tolerance after {k} iterations.')
    break
    
  x = y

  # Iteration counter
  k += 1

  # Appending approximations to array for output
  x1k = np.append(x1k, x[0,0])
  x2k = np.append(x2k, x[1,0])
  x3k = np.append(x3k, x[2,0])

Fixed point iteration converged to within tolerance after 5 iterations.

In [6]:
# Output
df = pd.DataFrame({'x_1^(k)': x1k, 'x_2^(k)': x2k, 'x_3^(k)': x3k})
df

    x_1^(k)    x_2^(k)    x_3^(k)
0 1.0000000  1.0000000  1.0000000
1 0.3467674  0.0158258 -0.4919927
2 0.4999899 -0.0036866 -0.5233251
3 0.4999994 -0.0000003 -0.5236910
4 0.5000000 -0.0000000 -0.5235988
5 0.5000000 -0.0000000 -0.5235988