### Newton's Method for Nonlinear Systems of 2 Equations

This notebook implements Newton's Method to find the solution of a nonlinear system of 2 equations $\mathbf{F}(\mathbf{x}) = \mathbf{0}$ where $\mathbf{x} = (x_1, x_2)^{\top}$. To apply the method, we must specify functions $f_1(\mathbf{x})$ and $f_2(\mathbf{x})$ which correspond to variables `f1` and `f2`. Furthermore, we must calculate the Jacobian matrix $\mathbf{J}(\mathbf{x})$, which is given by
$$
\mathbf{J}(\mathbf{x}) = \begin{bmatrix}
\frac{\partial f_1(\mathbf{x})}{\partial x_1} & \frac{\partial f_1(\mathbf{x})}{\partial x_2} \\
\frac{\partial f_2(\mathbf{x})}{\partial x_1} & \frac{\partial f_2(\mathbf{x})}{\partial x_2}
\end{bmatrix}.
$$
Note that the (1,1)th entry of $\mathbf{J}(\mathbf{x})$ corresponds to the variable `f1_x1`, the (1,2)th entry to `f1_x2`, the (2,1)th entry to `f2_x1`, and the (2,2)th entry to `f2_x2`. We also input our initial guess into the $2 \times 1$ matrix represented by `x`. This algorithm is implemented according to the pseudocode in Algorithm 10.1 of *Numerical Analysis* (10th Edition) by Burden and Faires. The example below corresponds to 11.2.7(b) in the same book.

In [248]:
# Imports
import numpy as np
from numpy.linalg import inv
import pandas as pd
import math

# For more decimal places
pd.set_option("display.precision", 7)

In [249]:
# Functions
f1 = lambda x1, x2: np.log(x1**2 + x2**2) - np.sin(x1*x2) - np.log(2) - np.log(math.pi)
f2 = lambda x1, x2: math.exp(x1 - x2) + np.cos(x1*x2)

# Initial guess
x = np.matrix([[2], [2]])
# Tolerance
TOL = 10**(-6)

# Arrays for approximations for each iteration
x1k = np.array(x[0,0])
x2k = np.array(x[1,0])

In [250]:
# Partial derivatives (for Jacobian)
f1_x1 = lambda x1, x2: (2*x1)/(x1**2 + x2**2) - x2*np.cos(x1*x2)
f1_x2 = lambda x1, x2: (2*x2)/(x1**2 + x2**2) - x1*np.cos(x1*x2)
f2_x1 = lambda x1, x2: math.exp(x1-x2) - x2*np.sin(x1*x2)
f2_x2 = lambda x1, x2: -x1*np.sin(x1*x2) - math.exp(x1-x2)

In [251]:
# Defining Jacobian
def Jac(x1, x2, inverse=0):
  mat = np.matrix([[f1_x1(x1,x2), f1_x2(x1,x2)], [f2_x1(x1,x2), f2_x2(x1,x2)]])
  if inverse == 0:
    return mat
  if inverse == 1:
    return inv(mat)

In [252]:
# Defining vector-valued function
def F(x1, x2):
  return np.matrix([[f1(x1,x2)], [f2(x1,x2)]])

In [253]:
# Defining maximum norm for a 2D vector
def norm(x):
  return max(abs(x[0,0]), abs(x[1,0]))

In [254]:
# Starting iteration
k = 1

while True:
  # Solving n x n linear system for y
  y = np.matmul(Jac(x[0,0], x[1,0], inverse=1), -F(x[0,0], x[1,0]))
  # Updating x
  x = x + y

  # When accuracy tolerance is met
  if norm(y) < TOL:
    print(f'The procedure was successful after {k} iterations.')
    break

  # Next iteration
  k = k + 1

  # Appending approximations to array for output
  x1k = np.append(x1k, x[0,0])
  x2k = np.append(x2k, x[1,0])

The procedure was successful after 6 iterations.

In [255]:
df = pd.DataFrame({'x_1^(k)': x1k, 'x_2^(k)': x2k,})
df

     x_1^(k)    x_2^(k)
0  2.0000000  2.0000000
1  1.9686826  1.4789055
2  1.8300800  1.7090238
3  1.7755575  1.7684117
4  1.7724655  1.7724386
5  1.7724539  1.7724539