### Runge-Kutta Method (Order 4)

This code implements the Runge-Kutta Method of order 4 to approximate ordinary differential equations of the form $ y'(t) = f(t,y)$ at equally-spaced mesh points between $t_0$ and $t_1$ with a step size of $h$. Note that the variable `f` below represents $f(t,y)$.

We specify an initial condition $y(t_0) = \alpha$. The algorithm can be defined recursively by
\begin{align*}
w_0 &= \alpha \\
k_1 &= hf(t_i, w_i) \\
k_2 &= hf \left(t_i + \frac{h}{2}, w_i + \frac{1}{2}k_1 \right) \\
k_3 &= hf \left( t_i + \frac{h}{2}, w_i + \frac{1}{2} k_2 \right) \\
k_4 &= h f \left( t_{i+1}, w_i + k_3 \right) \\
w_{i+1} &= w_i + \frac{1}{6} \left( k_1 + 2k_2 + 2k_3 + k_4 \right)
\end{align*}

for $i = 0, 1, \ldots, N-1$. The code below gives the approximations for Exercise 5.4.15(b) in *Numerical Analysis* (10th Edition) by Burden and Faires.

In [1]:
import numpy as np
import pandas as pd
import math

# For more decimal places
pd.set_option("display.precision", 7)

Specify your desired arguments below.

In [9]:
# Function
f = lambda t, y: 1 + y/t + (y/t)**2
# Left endpoint
t_0 = 1
# Right endpoint
t_1 = 3
# Step size
h = 0.2
# Initial condition
alpha = 0

N = int((t_1-t_0)/h)
t = np.arange(t_0, t_1+h, h)
w = np.zeros(len(t))
w[0] = alpha

In [10]:
# Approximations
for i in range(0, len(t) - 1):
  k1 = h*f(t[i], w[i])
  k2 = h*f(t[i] + h/2, w[i] + 1/2*k1)
  k3 = h*f(t[i] + h/2, w[i] + 1/2*k2)
  k4 = h*f(t[i+1], w[i] + k3)
  w[i+1] = w[i] + 1/6*(k1 + 2*k2 + 2*k3 + k4)

In [11]:
# Output
df = pd.DataFrame({('tᵢ'): t, 'wᵢ': w})
df

     tᵢ         wᵢ
0   1.0  0.0000000
1   1.2  0.2212457
2   1.4  0.4896842
3   1.6  0.8127522
4   1.8  1.1994320
5   2.0  1.6612651
6   2.2  2.2134693
7   2.4  2.8764941
8   2.6  3.6783790
9   2.8  4.6585063
10  3.0  5.8738386

### Exact Solution and Actual Error

If we know the solution $y(t)$ to the initial value problem--whether it is given to us or we calculate it analytically--the exact values and actual (absolute) error of the Modified Euler approximations can be calculated. Below, `y` represents the solution to the IVP.

In [12]:
# Exact solution
y = lambda t: t*np.tan(np.log(t))
yt = np.zeros(len(t))

In [13]:
# Looping to determine actual values
for i in range(0, len(t)):
  yt[i] = y(t[i])

In [14]:
# Output
df2 = pd.DataFrame({('tᵢ'): t, 'wᵢ': w,
                    'y(tᵢ)': yt, '|y(tᵢ) - wᵢ|': abs(w-yt)})
df2

     tᵢ         wᵢ      y(tᵢ)  |y(tᵢ) - wᵢ|
0   1.0  0.0000000  0.0000000     0.0000000
1   1.2  0.2212457  0.2212428     0.0000029
2   1.4  0.4896842  0.4896817     0.0000025
3   1.6  0.8127522  0.8127527     0.0000006
4   1.8  1.1994320  1.1994386     0.0000066
5   2.0  1.6612651  1.6612818     0.0000166
6   2.2  2.2134693  2.2135018     0.0000325
7   2.4  2.8764941  2.8765514     0.0000573
8   2.6  3.6783790  3.6784753     0.0000963
9   2.8  4.6585063  4.6586651     0.0001588
10  3.0  5.8738386  5.8741000     0.0002614