### Taylor's Method (Order 2)

This code implements Taylor's Method of order 2 to approximate ordinary differential equations of the form $ y'(t) = f(t,y)$ at equally-spaced mesh points between $t_0$ and $t_1$ with a step size of $h$. Note that the variable `f` below represents $f(t,y)$ and `f_prime` represents the *total derivative* of $f(t,y)$, which is given by

$$ \frac{d}{dt} f(t,y) = \frac{\partial f}{\partial t} + \frac{\partial f}{\partial y} f.$$

If the exact solution $y(t)$ is known, we can simplify this computation as
$$\frac{d}{dt} f(t,y) = y''(t).
$$

We specify an initial condition $y(t_0) = w_0$. As an example, this instance of the code solves Exercise 5.3.9(a) in *Numerical Analysis* (10th Edition) by Burden and Faires.

In [1]:
import numpy as np
import pandas as pd
import math

# For more decimal places
pd.set_option("display.precision", 7)

Specify your arguments below.

In [2]:
# Functions
f        = lambda t, y: (2/t)*y + t**2*math.exp(1)**t
f_prime  = lambda t, y: (t**2 + 4*t + 2)*math.exp(1)**t - 2*math.exp(1)
# Left endpoint
t_0 = 1
# Right endpoint
t_1 = 2
# Step size
h = 0.1
# Initial condition
w0 = 0

t = np.arange(t_0, t_1+h, h)
w = np.zeros(len(t))
w[0] = w0

In [3]:
for i in range(0, len(t) - 1):
  w[i+1] = w[i] + h*(f(t[i], w[i])) + h**2/2*f_prime(t[i], w[i])

In [4]:
df = pd.DataFrame({('tᵢ'): t, 'wᵢ': w})
df

     tᵢ          wᵢ
0   1.0   0.0000000
1   1.1   0.3397852
2   1.2   0.8521941
3   1.3   1.5819293
4   1.4   2.5813316
5   1.5   3.9115682
6   1.6   5.6439945
7   1.7   7.8617134
8   1.8  10.6613611
9   1.9  14.1551478
10  2.0  18.4731918

### Exact Solution and Actual Error

If we know the solution $y(t)$ to the initial value problem--whether it is given to us or we calculate it analytically--the exact values and actual (absolute) error of the Euler approximations can be calculated. Below, `y` represents the solution to the IVP.

In [5]:
y = lambda t: t**2*(math.exp(1)**t - math.exp(1))
yt = np.zeros(len(t))

In [6]:
for i in range(0, len(t)):
  yt[i] = y(t[i])

In [7]:
df2 = pd.DataFrame({('tᵢ'): t, 'wᵢ': w,
                    'y(tᵢ)': yt, '|y(tᵢ) - wᵢ|': abs(w-yt)})
df2

     tᵢ          wᵢ       y(tᵢ)  |y(tᵢ) - wᵢ|
0   1.0   0.0000000   0.0000000     0.0000000
1   1.1   0.3397852   0.3459199     0.0061346
2   1.2   0.8521941   0.8666425     0.0144484
3   1.3   1.5819293   1.6072151     0.0252857
4   1.4   2.5813316   2.6203596     0.0390279
5   1.5   3.9115682   3.9676663     0.0560981
6   1.6   5.6439945   5.7209615     0.0769671
7   1.7   7.8617134   7.9638735     0.1021601
8   1.8  10.6613611  10.7936247     0.1322636
9   1.9  14.1551478  14.3230815     0.1679337
10  2.0  18.4731918  18.6830971     0.2099053