### Taylor's Method (Order 4)

This code implements Taylor's Method of order 4 to approximate ordinary differential equations of the form $ y'(t) = f(t,y)$ at equally-spaced mesh points between $t_0$ and $t_1$ with a step size of $h$. Note that the variable `f` below represents $f(t,y)$ and `f_prime` represents the *total derivative* of $f(t,y)$, which is given by

$$ \frac{d}{dt} f(t,y) = \frac{\partial f}{\partial t} + \frac{\partial f}{\partial y} f.$$

If the exact solution $y(t)$ is known, we can simplify this computation as
$$\frac{d}{dt} f(t,y) = y''(t).
$$
The variables `f_dprime` and `f_tprime` represent the total derivatives of each term of $\frac{d}{dt} f(t,y)$ and $\frac{d^2}{dt^2} f(t,y)$, respectively. This can be computationally intensive. Note that again if $y(t)$ is known, we have that
$$ \frac{d^2}{dt^2} f(t,y) = y'''(t)$$
and similarly that
$$ \frac{d^3}{dt^3} f(t,y) = y^{(4)}(t).$$

We must also specify an initial condition $y(t_0) = w_0$. As an example, this instance of the code solves Exercise 5.3.9(c) in *Numerical Analysis* (10th Edition) by Burden and Faires.

In [1]:
import numpy as np
import pandas as pd
import math

Specify your arguments below.

In [2]:
# Functions
f        = lambda t, y: (2/t)*y + t**2*math.exp(1)**t
f_prime  = lambda t, y: (t**2 + 4*t + 2)*math.exp(1)**t - 2*math.exp(1)
f_dprime = lambda t, y: (t**2 + 6*t + 6)*math.exp(1)**t
f_tprime = lambda t, y: (t**2 + 8*t + 12)*math.exp(1)**t
# Left endpoint
t_0 = 1
# Right endpoint
t_1 = 2
# Step size
h = 0.1
# Initial condition
w0 = 0

t = np.arange(t_0, t_1+h, h)
w = np.zeros(len(t))
w[0] = w0

In [3]:
for i in range(0, len(t) - 1):
  w[i+1] = w[i] + h*(f(t[i], w[i])) + h**2/2*f_prime(t[i], w[i]) + h**3/6*f_dprime(t[i], w[i]) + h**4/24*f_tprime(t[i], w[i])

In [4]:
df = pd.DataFrame({('tᵢ'): t, 'wᵢ': w})
df

     tᵢ         wᵢ
0   1.0   0.000000
1   1.1   0.345913
2   1.2   0.866626
3   1.3   1.607186
4   1.4   2.620315
5   1.5   3.967603
6   1.6   5.720876
7   1.7   7.963761
8   1.8  10.793480
9   1.9  14.322900
10  2.0  18.682872

### Exact Solution and Actual Error

If we know the solution $y(t)$ to the initial value problem--whether it is given to us or we calculate it analytically--the exact values and actual (absolute) error of the Euler approximations can be calculated. Below, `y` represents the solution to the IVP.

In [5]:
y = lambda t: t**2*(math.exp(1)**t - math.exp(1))
yt = np.zeros(len(t))

In [6]:
for i in range(0, len(t)):
  yt[i] = y(t[i])

In [7]:
df2 = pd.DataFrame({('tᵢ'): t, 'wᵢ': w,
                    'y(tᵢ)': yt, '|y(tᵢ) - wᵢ|': abs(w-yt)})
df2

     tᵢ         wᵢ      y(tᵢ)  |y(tᵢ) - wᵢ|
0   1.0   0.000000   0.000000      0.000000
1   1.1   0.345913   0.345920      0.000007
2   1.2   0.866626   0.866643      0.000017
3   1.3   1.607186   1.607215      0.000029
4   1.4   2.620315   2.620360      0.000044
5   1.5   3.967603   3.967666      0.000063
6   1.6   5.720876   5.720962      0.000086
7   1.7   7.963761   7.963873      0.000113
8   1.8  10.793480  10.793625      0.000145
9   1.9  14.322900  14.323082      0.000182
10  2.0  18.682872  18.683097      0.000225